<h1>Answer</h1>
 <h2>
<%= link_to '<- Ask', '/ask' %>
</h2>
<div class ="conversation">
<div class = "question">
<p><%= @question %></p>
</div>
 <div class="answer">
    <p> <%= @answer %></p>
  </div>
</div>
</div>
